.slider {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 5px;
  border-radius: 2.5px;
  background: #e3e3e3;

  .dot {
    position: absolute;
    top: -2.5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #737373;
    cursor: pointer;
  }
}
