body {
    margin: 0;
}

.masonry {
    box-sizing: border-box;
    display: flex;
    height: 100vh;
    flex-flow: column wrap;
    width: 70%;
    padding: 32px 0;
    margin: 0 auto;
}

.item {
    padding: 32px;
    margin: 16px;
    margin-bottom: 32px;
    background-color: #f60;
    text-align: center;
    color: white;
}

.item > .large {
    height: 200px;
}

.item > .medium {
    height: 100px;
}

.item > .small {
    height: 50px;
}

@media screen and (max-width: 1200px) {
    .masonry {
        column-count: 2;
    }
}

@media screen and (max-width: 700px) {
    .masonry {
        column-count: 1;
    }
}