body {
  margin: 0;
}

.composition {
  height: 100vh;
  width: 100vw;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
}

.container > .container {
  width: unset;
  flex: 1;
}

.container.vertical {
  flex-direction: column;
}

.container > .sidebar {
  width: 250px;
  height: 100%;
  border-right: 1px solid #3b3b3b;
}

.container > .header,
.container > .footer {
  height: 60px;
}

.container > .main {
  flex: 1;
}

.sidebar > .item {
  width: 100%;
  height: 30px;
  display: grid;
  place-content: center;
  border-bottom: 1px solid #3b3b3b;
}

.sidebar > .item:hover {
  background-color: lightblue;
  cursor: pointer;
}

.header {
  display: flex;
  border-bottom: 1px solid #3b3b3b;
}

.header > .left,
.header > .right {
  margin: 0 20px;
}

.header > .center {
  flex: 1;
  text-align: center;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-top: 1px solid #3b3b3b;
}

.main > .backbone {
  height: 100%;
  width: 100%;
}