body {
    background-color: lightgray;
}

.container {
    background-color: #ffffff;
    width: 1000px;
    height: 800px;
    margin: 100px auto 0;
}

.item {
    background-color: red;
    width: 100px;
    height: 100px;
    position: relative;
    left: 100px;
    top: 100px;
    animation: move 2s linear infinite;
}

@keyframes move {
    0% {left: 100px; top: 100px;}
    50% {left: 200px; top: 200px;}
    100% {left: 100px; top: 100px;}
}
