body {
  margin: 0;
  background-color: lightgray;
}

.wrapper {
  margin: 100px auto;
  width: 1000px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  background-color: #ffffff;
}

.loading-css {
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  display: inline-block;
  border: 5px solid #f3f3f3;
  border-top: 5px solid red;
  border-radius: 50%;
  /* 动画旋转效果 */
  animation: rotate-360 1s infinite linear;
}

@keyframes rotate-360 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-svg {
  width: 50px;
  height: 50px;
  animation: loading-rotate 1.5s infinite ease-in-out;
}

.loading-svg > .path {
  stroke: #409eff;
  stroke-width: 5;
  stroke-dasharray: 1, 126;
  stroke-dasharray: 95, 126;
  stroke-dasharray: 6, 120;
  stroke-dashoffset: 0;
  animation: loading-dash 1.5s infinite ease-in-out;
}

@keyframes loading-dash {
  0% {
    stroke-dasharray: 1, 126;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 95, 126;
    stroke-dashoffset: -31px;
  }

  to {
    stroke-dasharray: 6, 120;
    stroke-dashoffset: -120px;
  }
}

@keyframes loading-rotate {
    to {
        transform: rotate(1turn);
    }
}

.loading-icon {
    display: inline-block;
    font-size: 56px;
}