body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.board {
  position: relative;
  width: 300px;
  height: 300px;
  border: 1px solid #e3e3e3;
}

.box {
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
  background-color: black;
}
