body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: auto;
}

button {
  color: inherit;
  background-color: transparent;
}

a {
  text-decoration: none;
}

.appRoot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  h1 {
    text-decoration: 4px underline;
  }
}
