body {
    margin: 0;
}

.masonry {
    column-count: 3;
    column-gap: 32px;
    width: 70%;
    margin: 32px auto;
}

.item {
    break-inside: avoid;
    padding: 32px;
    margin-bottom: 32px;
    background-color: #f60;
    text-align: center;
    color: white;
    overflow: hidden;
}

.item > .large {
    height: 200px;
}

.item > .medium {
    height: 100px;
}

.item > .small {
    height: 50px;
}

@media screen and (max-width: 1200px) {
    .masonry {
        column-count: 2;
    }
}

@media screen and (max-width: 700px) {
    .masonry {
        column-count: 1;
    }
}