.audioPlayer {
  display: flex;
  align-items: center;
  gap: 12px;

  .playPauseBtn {
    display: grid;
    place-content: center;
    width: 40px;
    height: 40px;
    font-size: 25px;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      background-color: #f0f0f0;
    }
  }

  .progressBar {
    position: relative;
    width: 400px;
    height: 10px;
    cursor: pointer;
  }

  .right {
    white-space: nowrap;
  }
}
