@font-face {
  font-family: 'Pady';
  src: url('./PadyakkeExpandedOne-Regular.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'PingFangSC';
  src: url('./PingFangSC.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: red;
  font-family: 'Pady';
  background: url('./icon.png');
}

.hello:hover {
  color: blue;
  font-family: 'PingFangSC';
  background: url('./icon.png');
}
