@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}

:root {
  --color_red: #fe0000;
  --color_green: #05be05;
  --shadow_red: #fe000066;
  --shadow_green: #05be0566;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin: 100px auto;
}

/* 外框 */
.box-wrapper {
  cursor: pointer;
}

/* 输入框 */
.box-wrapper > input {
  display: none;
}

/* 底座 */
.box-wrapper > .box {
  position: relative;
  width: 70px;
  height: 40px;
  border-radius: 20px;
  background: var(--color_red);
  box-shadow: 0 10px 20px var(--shadow_red);
  transition: background 0.3s ease, box-shadow 0.3s ease;
}

.box-wrapper > input:checked + .box {
  background: var(--color_green);
  box-shadow: 0 10px 20px var(--shadow_green);
}

/* 按钮 */
.box-wrapper > .box > .but {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #fff;
  transition: left 0.45s ease;
}

.box-wrapper > input:checked + .box > .but {
  left: 34px;
}

/* 按钮表情 */
.box-wrapper > .box > .but::before {
  content: '';
  position: absolute;
  top: 8px;
  left: 7px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: var(--color_red);
  box-shadow: 12px 0 0 var(--color_red);
  transition: background 0.3s ease, box-shadow 0.3s ease;
}

.box-wrapper > input:checked + .box > .but::before {
  background: var(--color_green);
  box-shadow: 12px 0 0 var(--color_green);
}

.box-wrapper > .box > .but::after {
  content: '';
  position: absolute;
  top: 21px;
  left: 9px;
  width: 14px;
  height: 4px;
  border-radius: 4px;
  background: var(--color_red);
  transition: background 0.3s ease, top 0.45s ease, height 0.45s ease, border-radius 0.45s ease;
}

.box-wrapper > input:checked + .box > .but::after {
  top: 20px;
  height: 6px;
  border-radius: 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background: var(--color_green);
}
