/* 混合(Mixins) */
@mixin large {
  font-size: 32px;
}

.header {
  @include large;
  font-weight: 550;
}

@mixin color-header($color, $size) {
  color: $color;
  font-size: $size;
}

.banner {
  @include color-header(skyblue, 32px);
  font-weight: 550;
}
