@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: 'Merriweather', serif;
  background-color: var(--bg_color);
}

.appRoot {
}

:root {
  --bg_color: #f1f0f9;
  --font_color: #8600ef;
  --border_color: #f0f0f9;
  --border_color2: #c6c6df;
  --box_shadow_color: rgba(24, 15, 85, 0.27);
}
